.container{
    background-color: var(--black);
    color: var(--white);
    width: 100%;
    display: grid;
    justify-content: space-between;
    align-items: stretch;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.title{
    position: absolute;
    font-size: 30px;
    margin: 20px;
}

.allCards{
    grid-column: 1 5;
    grid-row: 2;
    display: flex;
    width: 250%;
    height: 100%;
}