* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  width: 100%;
  min-height: 100%;
  --primary: #ffb200;
  --secondary: #222222;
  --black: #101010;
  --grey: #333333;
  --white: #f2f2f2;
  font-family: "Monda", sans-serif;
  font-family: "Montserrat", sans-serif;
}
